@import "../../../variables";

.section--experience{
  height: 100%;
  width: 100%;

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $backgroundGrey3;
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $framboise1;
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $framboise4;
  }

  .flex-item{
    z-index: 1;
  }

  .cv-content {
    width: calc(100% - 450px);
    height: 100%;
    position: relative;

    .flex-container{
      height: calc(100% - 72px);
      width: 100%;
      position: relative;

      &::after {
        content: '';
        background-color: $backgroundGrey1;
        opacity: 0.9;
        z-index: 0;
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }

    .section--experience--data{
      width: calc(100% - 320px);
      height: 100%;
      color: $backgroundGrey4;
      margin-right: 20px;
      overflow-y: auto;

      fa-icon{
        margin-right: 10px;
        color: $framboise1;
      }

      .titre--xp{
        font-size: 25px;
        width: 400px;
        color: $backgroundGrey4;
        display: inline-block;
        padding: 10px 25px;
        font-family: 'Orbitron', sans-serif;
      }

      .entreprise--xp{
        display: inline-block;
        font-size: 22px;
        width: auto;
        font-family: 'Orbitron', sans-serif;
        color: $framboise;
        padding: 10px 25px;
        text-align: right;
      }

      .entreprise--client,
      .entreprise--preembauche,
      .realisation--xp{
        padding: 15px;
      }

      .client--preembauche,
      .experience--outils{
        padding: 15px 25px;
      }

      .context--xp{
        padding: 15px;

        .experience--langage{
          padding: 15px 25px;
          color: $backgroundGrey4;
        }
      }

      .experience--section{
        font-size: 17px;
        font-weight: 500;
        color: $backgroundGrey4;
        font-family: 'Orbitron', sans-serif;
      }
    }

    .flex-container-vertical {
      display: -ms-inline-flexbox;
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-align-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    .flex-item-vertical {
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
    }

    .section--experience--date{
      width: 300px;
      height: 100%;
      z-index: 1;
      border-left: $backgroundGrey4 3px solid;
      position: relative;

      .chevron--end{
        color: $backgroundGrey4;
        position: absolute;
        left: -12px;
        top: -8px;
        z-index: 1;
        font-size: 25px;
      }

      .chevron--start{
        color: $backgroundGrey4;
        position: absolute;
        left: -11px;
        bottom: 0;
        width: 20px;
        height: 1px;
        border-bottom: $backgroundGrey4 3px solid;
      }

      .section--date{
        margin: 10px 0;
        position: relative;
        cursor: pointer;

        .circle--date{
          border: $backgroundGrey4 6px solid;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          position: absolute;
          left: -37.5px;
          top: 13px;
          background-color: $backgroundGrey;

          &.active{
            background-color: $framboise;
          }
        }

        .experience--date{
          width: 250px;
          margin: auto;
          padding: 15px 25px;
          background-color: $backgroundGrey2;
          color: $backgroundGrey4;

          &.active{
            background-color: $backgroundGrey3;
            color: $framboise4;
            font-weight: bold;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
          }
        }
      }
    }
  }
}
