<section class="section--name">
  <div class="name-block-container">
    <h1><span>CV</span>Romain MONTAUT</h1>
    <h2>D&eacute;veloppeur Web</h2>
    <a target="_blank" href="/assets/documents/cv-Romain_Montaut.pdf" class="btn btn-download">Download Resume<span><fa-icon [icon]="faCloudDownloadAlt"></fa-icon></span></a>
    <ul class="social">
      <li><a target="_blank" href="https://www.linkedin.com/in/romain-montaut-94ab70163/"><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
      <li><a target="_blank" href="https://github.com/RomainTlse"><fa-icon [icon]="faGithub"></fa-icon></a></li>
    </ul>
  </div>
</section>
