<section class="section--interet flex-container">
  <div class="flex-item">
    <app-presentation></app-presentation>
  </div>
  <div class="flex-item cv-content">
    <app-menu (outputChild)=loadComponent($event)></app-menu>
    <section class="section--interet--content flex-container">
      <div class="flex-item">
        <mat-card class="example-card">
          <img mat-card-image src="/assets/images/interets/running.png">
          <mat-card-content>
            <p>
              Développeur Web depuis 10 ans, j'ai eu l'opportunité de travailler dans plusieurs entreprises,
              aussi bien dans le développement fullstack que front. Vous pouvez accèder par le lien ci-dessous à mon CV.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="flex-item">
        <mat-card class="example-card">
          <img mat-card-image src="/assets/images/interets/aviation.png">
          <mat-card-content>
            <p>
              Développeur Web depuis 10 ans, j'ai eu l'opportunité de travailler dans plusieurs entreprises,
              aussi bien dans le développement fullstack que front. Vous pouvez accèder par le lien ci-dessous à mon CV.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="flex-item">
        <mat-card class="example-card">
          <img mat-card-image src="/assets/images/interets/astronomie.png">
          <mat-card-content>
            <p>
              Développeur Web depuis 10 ans, j'ai eu l'opportunité de travailler dans plusieurs entreprises,
              aussi bien dans le développement fullstack que front. Vous pouvez accèder par le lien ci-dessous à mon CV.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="flex-item">
        <mat-card class="example-card">
          <img mat-card-image src="/assets/images/interets/photo.png">
          <mat-card-content>
            <p>
              Développeur Web depuis 10 ans, j'ai eu l'opportunité de travailler dans plusieurs entreprises,
              aussi bien dans le développement fullstack que front. Vous pouvez accèder par le lien ci-dessous à mon CV.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="flex-item">
        <mat-card class="example-card">
          <img mat-card-image src="/assets/images/interets/bricolage.png">
          <mat-card-content>
            <p>
              Développeur Web depuis 10 ans, j'ai eu l'opportunité de travailler dans plusieurs entreprises,
              aussi bien dans le développement fullstack que front. Vous pouvez accèder par le lien ci-dessous à mon CV.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="flex-item">
        <mat-card class="example-card">
          <img mat-card-image src="/assets/images/interets/jardinage.png">
          <mat-card-content>
            <p>
              Développeur Web depuis 10 ans, j'ai eu l'opportunité de travailler dans plusieurs entreprises,
              aussi bien dans le développement fullstack que front. Vous pouvez accèder par le lien ci-dessous à mon CV.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="flex-item">
        <mat-card class="example-card">
          <img mat-card-image src="/assets/images/interets/cuisine.png">
          <mat-card-content>
            <p>
              Développeur Web depuis 10 ans, j'ai eu l'opportunité de travailler dans plusieurs entreprises,
              aussi bien dans le développement fullstack que front. Vous pouvez accèder par le lien ci-dessous à mon CV.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="flex-item">
        <mat-card class="example-card">
          <img mat-card-image src="/assets/images/interets/randonnee.png">
          <mat-card-content>
            <p>
              Développeur Web depuis 10 ans, j'ai eu l'opportunité de travailler dans plusieurs entreprises,
              aussi bien dans le développement fullstack que front. Vous pouvez accèder par le lien ci-dessous à mon CV.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </section>
  </div>
</section>
