<section class="section--interet flex-container">
  <div class="flex-item">
    <app-presentation></app-presentation>
  </div>
  <div class="flex-item cv-content">
    <app-menu (outputChild)=loadComponent($event)></app-menu>
    <section class="section--interet--content flex-container">
      <div class="flex-item">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Sport</mat-card-title>
          </mat-card-header>
          <div class="valign--img">
            <img mat-card-image src="/assets/images/interets/running.png">
          </div>
        </mat-card>
      </div>
      <div class="flex-item">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Aviation</mat-card-title>
          </mat-card-header>
          <div class="valign--img">
            <img mat-card-image src="/assets/images/interets/aviation.png">
          </div>
        </mat-card>
      </div>
      <div class="flex-item">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Atronomie</mat-card-title>
          </mat-card-header>
          <div class="valign--img">
            <img mat-card-image src="/assets/images/interets/astronomie.png">
          </div>
        </mat-card>
      </div>
      <div class="flex-item">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Photographie</mat-card-title>
          </mat-card-header>
          <div class="valign--img">
            <img mat-card-image src="/assets/images/interets/photo.png">
          </div>
        </mat-card>
      </div>
      <div class="flex-item">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Bricolage</mat-card-title>
          </mat-card-header>
          <div class="valign--img">
            <img mat-card-image src="/assets/images/interets/bricolage.png">
          </div>
        </mat-card>
      </div>
      <div class="flex-item">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Jardinage</mat-card-title>
          </mat-card-header>
          <div class="valign--img">
            <img mat-card-image src="/assets/images/interets/jardinage.png">
          </div>
        </mat-card>
      </div>
      <div class="flex-item">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Cuisine</mat-card-title>
          </mat-card-header>
          <div class="valign--img">
            <img mat-card-image src="/assets/images/interets/cuisine.png">
          </div>
        </mat-card>
      </div>
      <div class="flex-item">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Randonnée</mat-card-title>
          </mat-card-header>
          <div class="valign--img">
            <img mat-card-image src="/assets/images/interets/randonnee.png">
          </div>
        </mat-card>
      </div>
    </section>
  </div>
</section>
