$backgroundGrey: #303030;
$backgroundGrey1: #333333;
  $backgroundGrey2: #3D3D3D;
$backgroundGrey3: #7D7D7D;
$backgroundGrey4: #BDBDBD;

$framboise: #c72c48;
$framboise1: #942136;
$framboise2: #D06C7F;
$framboise3: #47252B;
$framboise4: #47101A;

$jaune: #D0C943;

$bleu1:#126E94;
$bleu2:#155D7A;
